# Import libraries

In [31]:
import pandas as pd
import numpy as np

# Reading Data

In [32]:
train_data=pd.read_csv('train.csv')
test_data=pd.read_csv('test.csv')

In [33]:
data =pd.concat([train_data, test_data],axis=0)
data["LandContour"]

0       Lvl
1       Lvl
2       Lvl
3       Lvl
4       Lvl
       ...
1454    Lvl
1455    Lvl
1456    Lvl
1457    Lvl
1458    Lvl
Name: LandContour, Length: 2919, dtype: object

# Data cleaning & preprocessing

In [34]:
data.corr()['SalePrice'].sort_values(ascending=False)

C:\Users\Win7\AppData\Local\Temp\ipykernel_232\2873319472.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr()['SalePrice'].sort_values(ascending=False)

SalePrice        1.000000
OverallQual      0.790982
GrLivArea        0.708624
GarageCars       0.640409
GarageArea       0.623431
TotalBsmtSF      0.613581
1stFlrSF         0.605852
FullBath         0.560664
TotRmsAbvGrd     0.533723
YearBuilt        0.522897
YearRemodAdd     0.507101
GarageYrBlt      0.486362
MasVnrArea       0.477493
Fireplaces       0.466929
BsmtFinSF1       0.386420
LotFrontage      0.351799
WoodDeckSF       0.324413
2ndFlrSF         0.319334
OpenPorchSF      0.315856
HalfBath         0.284108
LotArea          0.263843
BsmtFullBath     0.227122
BsmtUnfSF        0.214479
BedroomAbvGr     0.168213
ScreenPorch      0.111447
PoolArea         0.092404
MoSold           0.046432
3SsnPorch        0.044584
BsmtFinSF2      -0.011378
BsmtHalfBath    -0.016844
MiscVal         -0.021190
Id              -0.021917
LowQualFinSF    -0.025606
YrSold          -0.028923
OverallCond     -0.077856
MSSubClass      -0.084284
EnclosedPorch   -0.128578
KitchenAbvGr    -0.135907
Name: SalePrice, dtype: float64

In [35]:
data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,2919.000000,2919.000000,2433.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2896.000000,2918.000000,...,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,2919.000000,1460.000000
mean,1460.000000,57.137718,69.305795,10168.114080,6.089072,5.564577,1971.312778,1984.264474,102.201312,441.423235,...,93.709832,47.486811,23.098321,2.602261,16.062350,2.251799,50.825968,6.213087,2007.792737,180921.195890
std,842.787043,42.517628,23.344905,7886.996359,1.409947,1.113131,30.291442,20.894344,179.334253,455.610826,...,126.526589,67.575493,64.244246,25.188169,56.184365,35.663946,567.402211,2.714762,1.314964,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,730.500000,20.000000,59.000000,7478.000000,5.000000,5.000000,1953.500000,1965.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,2007.000000,129975.000000
50%,1460.000000,50.000000,68.000000,9453.000000,6.000000,5.000000,1973.000000,1993.000000,0.000000,368.500000,...,0.000000,26.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,2189.500000,70.000000,80.000000,11570.000000,7.000000,6.000000,2001.000000,2004.000000,164.000000,733.000000,...,168.000000,70.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,2919.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,1424.000000,742.000000,1012.000000,508.000000,576.000000,800.000000,17000.000000,12.000000,2010.000000,755000.000000

In [36]:
data=data.drop(['BsmtFinType1', 'BsmtFinSF1','BsmtFinType2','BsmtFinSF2','BsmtUnfSF','TotalBsmtSF','MasVnrType',
        'MasVnrArea','ExterQual','ExterCond','BsmtFullBath','BsmtHalfBath','PoolArea','PoolQC','Fence','MiscFeature',
          'MiscVal','SaleType','MSZoning','Street','Alley','LotShape','Condition2','LandSlope','GarageCars',
                'GarageQual','GarageCond','PavedDrive','Condition2','Condition1'], axis=1)
data

,Id,MSSubClass,LotFrontage,LotArea,LandContour,Utilities,LotConfig,Neighborhood,BldgType,HouseStyle,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,MoSold,YrSold,SaleCondition,SalePrice
0,1,60,65.0,8450,Lvl,AllPub,Inside,CollgCr,1Fam,2Story,...,548.0,0,61,0,0,0,2,2008,Normal,208500.0
1,2,20,80.0,9600,Lvl,AllPub,FR2,Veenker,1Fam,1Story,...,460.0,298,0,0,0,0,5,2007,Normal,181500.0
2,3,60,68.0,11250,Lvl,AllPub,Inside,CollgCr,1Fam,2Story,...,608.0,0,42,0,0,0,9,2008,Normal,223500.0
3,4,70,60.0,9550,Lvl,AllPub,Corner,Crawfor,1Fam,2Story,...,642.0,0,35,272,0,0,2,2006,Abnorml,140000.0
4,5,60,84.0,14260,Lvl,AllPub,FR2,NoRidge,1Fam,2Story,...,836.0,192,84,0,0,0,12,2008,Normal,250000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1454,2915,160,21.0,1936,Lvl,AllPub,Inside,MeadowV,Twnhs,2Story,...,0.0,0,0,0,0,0,6,2006,Normal,NaN
1455,2916,160,21.0,1894,Lvl,AllPub,Inside,MeadowV,TwnhsE,2Story,...,286.0,0,24,0,0,0,4,2006,Abnorml,NaN
1456,2917,20,160.0,20000,Lvl,AllPub,Inside,Mitchel,1Fam,1Story,...,576.0,474,0,0,0,0,9,2006,Abnorml,NaN
1457,2918,85,62.0,10441,Lvl,AllPub,Inside,Mitchel,1Fam,SFoyer,...,0.0,80,32,0,0,0,7,2006,Normal,NaN
1458,2919,60,74.0,9627,Lvl,AllPub,Inside,Mitchel,1Fam,2Story,...,650.0,190,48,0,0,0,11,2006,Normal,NaN

In [39]:
from sklearn import preprocessing
object_data=data.select_dtypes(include =['object'])
le=preprocessing.LabelEncoder()
for i in range (object_data.shape[1]):
     object_data.iloc[:,i]=le.fit_transform(object_data.iloc[:,i])
     non_obj_data=data.select_dtypes(exclude =['object'])
     data=pd.concat([object_data,non_obj_data],axis=1)

In [41]:
data=data.dropna()

In [42]:
data.isnull().sum()

LandContour     0
Utilities       0
LotConfig       0
Neighborhood    0
BldgType        0
               ..
3SsnPorch       0
ScreenPorch     0
MoSold          0
YrSold          0
SalePrice       0
Length: 328, dtype: int64

In [43]:
data.shape

(1127, 328)

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1127 entries, 0 to 1459
Columns: 328 entries, LandContour to SalePrice
dtypes: float64(4), int32(300), int64(24)
memory usage: 1.5 MB

In [45]:
x = data.drop('SalePrice', axis=1)
y = data[['SalePrice']]

In [47]:
from sklearn.preprocessing import StandardScaler
s = StandardScaler()
xs= s.fit_transform(x)
train_x=pd.DataFrame(xs)

# Spliting data

In [50]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.35, random_state = 1, shuffle = True)

# Models

### 1-Random Forest

In [51]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
x, y = make_regression(n_features=80, n_informative=2,random_state=0, shuffle=False)
model1 = RandomForestRegressor(max_depth=10, random_state=0)
model1.fit(x_train, y_train)
model1
predict_x=model1.predict(x_test)

In [52]:
predict_x=model1.predict(x_train)

In [53]:
print("Train Score ", model1.score(x_train, y_train))
print("Test Score " , model1.score(x_test, y_test))

Train Score  0.99397949949409
Test Score  0.9909507528849942

### 2-KNN

In [55]:

from sklearn.neighbors import KNeighborsRegressor
from sklearn import metrics
model2 = KNeighborsRegressor()
model2.fit(x_train, y_train)
predict_x=model2.predict(x_test)

In [56]:
predict_x=model2.predict(x_train)

In [57]:
print("Train Score ", model2.score(x_train, y_train))
print("Test Score " , model2.score(x_test, y_test))

Train Score  0.49621473686901796
Test Score  -0.5012205456556509


### 3- Decision tree

In [58]:
from sklearn.tree import DecisionTreeRegressor
from sklearn import metrics
model3 = DecisionTreeRegressor( max_depth = 3)
model3.fit(x_train, y_train)

predict_x=model3.predict(x_test)

In [59]:
predict_x=model3.predict(x_train)

In [60]:
print("Train Score ", model3.score(x_train, y_train))
print("Test Score " , model3.score(x_test, y_test))

Train Score  0.9780648482163893
Test Score  0.9558715633042978

### 4- Neural network

In [61]:
from sklearn.neural_network import MLPRegressor
from sklearn.metrics import confusion_matrix

model4 = MLPRegressor(activation='tanh',  # can be also identity , logistic , relu
                                   solver='lbfgs',  # can be also sgd , adam
                                   learning_rate='constant',  # can be also invscaling , adaptive
                                   early_stopping=False,
                                   alpha=0.0001, hidden_layer_sizes=(100, 3), random_state = 33)

model4.fit(x_train, y_train)
predict_x=model4.predict(x_test)

In [62]:
predict_x=model4.predict(x_train)

In [63]:
print("Train Score ", model4.score(x_train, y_train))
print("Test Score " , model4.score(x_test, y_test))

Train Score  0.663412872879782
Test Score  -0.8316964190984744

### 5- SVM

In [64]:

from sklearn.svm import SVR
model5 = SVR()
model5.fit(x_train, y_train)

predict_x=model5.predict(x_test)

In [65]:
predict_x=model5.predict(x_train)

In [66]:
print("Train Score ", model5.score(x_train, y_train))
print("Test Score " , model5.score(x_test, y_test))

Train Score  0.022583472952172223
Test Score  -0.05364753685915091